<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
 <!-- To the extent possible under law, David D. Lowe has waived all 
 copyright and related or neighboring rights to this file.
 License: http://creativecommons.org/publicdomain/zero/1.0/ -->
<policyconfig>

  <vendor>yklsetup</vendor>
  <vendor_url>https://github.com/isantop/yklsetup</vendor_url>
  <icon_name>preferences-system</icon_name>

  <action id="ro.santopiet.yklsetup.setup-yubikey">
    <description>Sets up a Yubikey for login on the system.</description>
    <message>System policy prevents you modifying login settings.</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
  <action id="ro.santopiet.yklsetup.low-privilege">
    <description>Sets up a Yubikey for login on the system.</description>
    <message>System policy prevents you modifying login settings.</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig> 